.rating.row {
	margin-bottom: 20px;
}

.rabidRatingUser .wrapper {	
	cursor: pointer;
	background: #ccc;
	overflow: hidden;
	margin-bottom: 5px;
}

.rabidRatingUser span, .rabidRatingUser .wrapper {
	display: block;
	width: /*136*/130px;
	height: /*25*/25px;
}

.rabidRatingUser span {
	position: relative;
	top: 0;
	left: 0;
	text-indent: -999em;
}

.rabidRatingUser .ratingStars {
	display: block;
	background: url('../img/rabidhearts.png') no-repeat center;
}

.rabidRatingUser .ratingFill {
	background-color: #E00814;
}

.rabidRatingUser .ratingVoted {
	cursor: default;
	background-color: #0069ff;
}

.rabidRatingUser .ratingActive {
	background-color: #ffa800;
}

.rabidRatingUser .ratingText strong {
	color: #E00814;
}

.rabidRatingUser .ratingText.ratingError {
	/* color: #f00; */	
}

.rabidRatingUser .ratingText.loading {
	background: url('../img/ajax-loading.gif') no-repeat;
	text-indent: -999em;
}

/* NEXT test */

.rabidRatingStatistics .wrapper {	
	cursor: default;
	background: #ccc;
	margin-bottom: 5px;
}

.rabidRatingStatistics .wrapper {
	overflow: hidden;
}

.rabidRatingStatistics span, .rabidRatingStatistics .wrapper {
	display: block;
	width: /*110*/130px;
	height: /*25*/25px;
}

.rabidRatingStatistics span {
	position: relative;
	top: 0;
	left: 0;
	text-indent: -999em;
}

.rabidRatingStatistics .ratingStars {
	display: block;
	background: url('../img/rabidhearts.png') no-repeat center;
}

.rabidRatingStatistics .ratingFill {
	background-color: #E00814;
}

.rabidRatingStatistics .ratingVoted {
	cursor: default;
	background-color: #0069ff;
}

.rabidRatingStatistics .ratingActive {
	background-color: #ffa800;
}

article .recipe-wrapper .rating p {
	margin: 0;
}

.total-votes {
	text-align: right;
}

.ratingAvg {
	color: #E00814;
}

.rabidRatingUser {
	width: 200px;
	margin: 0 auto;
	color: #949494;
}

.rabidRatingStatistics {
	width: 130px;
	margin: 0 auto;
	color: #949494;
}

.rabidRatingStatistics .ratingText.ratingError {
	/* color: #f00; */	
}

.rabidRatingStatistics .ratingText.loading {
	background: url('../img/ajax-loading.gif') no-repeat;
	text-indent: -999em;
}
