include MANIFEST.in
include README.rst
include dev_requirements.txt
include requirements.txt
recursive-include rabidratings/locale *
recursive-include rabidratings/templates *
recursive-include rabidratings/static *

global-exclude .coverage
