{% load i18n %}
{% if show_parts == 'user' or show_parts == 'all' %}
	{% if user.is_authenticated %}
		<div id="rabidRatingUser-{{ rating_key }}-{{ user_rating }}_{{ max_stars }}" class="rabidRatingUser">
		    <div id="rabidRatingUser-{{ rating_key }}-description" class="ratingText">
		        {% trans "Rating from you" %}: {% if user_rating %}{{ user_rating }}{% else %}{% trans "You have not yet rated" %}{% endif %}
		    </div>
		    <div class="wrapper">
			    	<div id="rabidratings_csrf">{% csrf_token %}</div>
					<span class="ratingFill" style="width:{{ percent }}%;">
						<span class="ratingStars">
						</span>
					</span>
		    </div>
		</div>
	{% else %}
		<p>{% trans "If you want rating, you have to be logged in" %}</p>
	{% endif %}
{% endif %}
{% if show_parts == 'statistics' or show_parts == 'all' %}
	<div id="rabidRatingStatistics-{{ rating_key }}-{{ rating|stringformat:"s" }}_{{ max_stars }}" class="rabidRatingStatistics">
	    <div id="rabidRatingStatistics-{{ rating_key }}-description" class="ratingText">
	        <p>{% trans "Rating" %} (<strong class="totalVotes">{{ total_votes }}</strong> {% trans "by users" %}): <strong class="ratingAvg">{% if rating %}{{ rating }}{% else %}{% trans "not yet rated" %}{% endif %}</strong></p>
	    </div>
	    <div class="wrapper">
				<span class="ratingFill" style="width:{{ percent }}%;">
					<span class="ratingStars">
					</span>
				</span>
	    </div>
	</div>
{% endif %}